<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>黄姚古镇</title>
     <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public-app.css">       
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">      
     <script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery-1.12.0.min.js"></script>   
     <script type="text/javascript" src="__PUBLIC__/js/md5.js"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />    	
<style>
.reg {
	margin-top:60px;
	
}
.reg input{
	width:70%;
	height:30px;
	margin-top:5px;
}
.reg span{
	font-size:18px;
	color:#595;
}
.foot{
	margin-bottom:0px;
	position:fixed;
	bottom:0;
}
#ok{
	width:35%;
	font-size:18px;
	
}
.a1{
	margin-top:20px;
	text-align:center;
}
</style>
</head>
<body>
<include file="./Public/head.html" />
<div></div>
<div class="reg" style="width:90%;margin:0 auto;">
    <h2>用于登录</h2>
	<span>用户账号</span>:<input type="text" maxlength="10" id="username" placeholder="长度最多10位" ><br>
	<span>用户密码</span>:<input type="password" id="pwd1" placeholder="请输入6位数密码"><br>
	<span>确认密码</span>:<input type="password" id="pwd2" placeholder="再次输入6位数密码"><br>	
	<h2>基本信息</h2>
    <span>所属地区</span>:<input maxlength="4" type="text" id="addr" placeholder="例如'白山村'等,最多四个字" ><br>
	<span>用户昵称</span>:<input maxlength="4" type="text" id="realname" placeholder="例如张三、李四等,最多四个字"><br>
</div>	
<div class="a1">
<input id="ok" type="button" onclick="javascript:regok();" value="确定注册" >
</div>	
<div class="foot">
	<span>备案号：粤ICP备17044777号</span>
</div>




<script>
function regok(){
	var username = $('#username').val();
	var pwd1 =$('#pwd1').val();
	var pwd2 =$('#pwd2').val();
	var addr =$('#addr').val();
	var realname =$('#realname').val();
	
	if(username == ''|| pwd1== ''|| pwd2==''|| addr==''||realname=='')
	{
		alert('请填写完信息后再确定!');
		return;
	}
	if(pwd1 != pwd2)
    {
		alert('两次输入的密码不一致！');
		return;
    }
	
	var len = pwd1.length;
	if(len > 10 || len < 6)
	{
		alert('密码长度为6-10位数！');
		return;
	}
	
	$.ajax({
		url:"{:U('Login/save')}",
		data:{
			username:username,
			pwd:hex_md5(pwd1),
			addr:addr,
			realname:realname,
		},
		dataType:'json',
		type:'post',
		success:function(data){
			if(data.res == 0)
			{
				alert('恭喜注册成功,现在就去登录吧!');
				window.location.href="{:U('Login/applogin')}";
			}
			else{
				alert(data.msg);
			}
		}
		
	});
		
}


$(function(){
	
});


</script>

















</body>
</html>