<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>黄姚古镇圈子,我在这里</title>
     <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public-app.css">    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">           
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
     <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css">   
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery-1.12.0.min.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>    		
</head>
<body>
<include file="./Public/head.html" />
<p>注册总人数  :  {$users}人</p>
<p  style= text-indent:2em;>  管理人员 :  {$users1}人</p>
<p  style= text-indent:2em;>  普通会员  :  {$users2}人</p>
<div style="width:99%;border:1px solid;"></div>
<p>文章总数  :  {$arcs}篇</p>
<p  style= text-indent:2em;>  系统文章  :  {$arcs1}篇</p>
<p  style= text-indent:2em;>  会员文章  :  {$arcs2}篇</p>
<div style="width:99%;border:1px solid;"></div>
<p>浏览人数  :  {$visit_num}人</p>
<p>访问次数  :  {$visit_all['n']}人</p>
<div style="width:99%;border:1px solid;"></div>
<h2>会员管理</h2>
<div class="user">
	<table class="table table-bordered table-striped">	
			  
		  <thead>
		    <tr>
		      <th style="width:20%;">编号</th>
		      <th style="width:20%;">用户昵称</th>
		      <th style="width:20%;">地址</th>
		      <th style="width:20%;">账号状态</th>		       
		      <th style="width:20%;">操作</th>

		    </tr>
		  </thead>
		  <tbody>
		  <volist name="userlist" id="vo">
		    <tr>
		      <td>{$vo.id}</td>
		      <td>{$vo.real_name}</td>
		      <td>{$vo.addr}</td>
		      <if condition="$vo.status eq 1">
		      	<td>正常</td>
		      	<td><button onclick="javascript:forbid('{$vo.id}')">禁用</button></td>	
		      <else/>
		        <td>已禁用</td>
		        <td><button onclick="javascript:qiyong('{$vo.id}')">启用</button></td>		
		      </if>
		      
		          		      		     
		    </tr>
		  </volist>
		  </tbody>
		</table>
</div>









<include file="./Public/foot.html" /> 
<script type="text/javascript">
function forbid(id){
	
	$.ajax({
		url:"{:U('Index/forbid')}",
		data:{
			id:id,
		},
		dataType:'json',
		type:'post',
		success:function(data){
			if(data.res == 0)
			{
				
				window.location.reload();
			}
			else{
				alert(data.msg);
			}
		}
		
	});
};
function qiyong(id){
	
	$.ajax({
		url:"{:U('Index/qiyong')}",
		data:{
			id:id,
		},
		dataType:'json',
		type:'post',
		success:function(data){
			if(data.res == 0)
			{
				
				window.location.reload();
			}
			else{
				alert(data.msg);
			}
		}
		
	});
};


</script>
</body>
</html>